node_modules/
*.log
*.exe
*.suo
*.ide
.eslintrc
bin/
obj/
bundle/
/.vs/TGCW/v15/Server/sqlite3
/.vs/TGCW/DesignTimeBuild/.dtbcache
/TronCore/.vs
/TGCW.GC/Properties/PublishProfiles
wwwroot/
/TGCW.GC/TGCW.GC.csproj.user
/TGCW.Migration/.vs/TGCW.Migracoes/v15/Server/sqlite3/db.lock
/TGCW.Migration/.vs/TGCW.Migracoes/v15/Server/sqlite3/storage.ide-shm
/TGCW.Migration/.vs/TGCW.Migracoes/v15/Server/sqlite3/storage.ide-wal
*.dtbcache
*.lock
*.ide-shm
*.ide-wal
/TronConnect.UI/.bowerrc
