@{
    Layout = null;
    var progress = "@progress";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tron Connect</title>
    @*<link rel="icon" href="./img/tgc.png">*@
    <link rel="stylesheet" href="bundle/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@progress/kendo-theme-bootstrap@latest/dist/all.css" crossorigin="anonymous">
</head>
<body>
    <div id="content"></div>

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <style>
        .k-button + .k-button {
            margin-left: 5px
        }
    </style>

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>

    <div id="app"></div>
    @Html.ReactInitJavaScript()
        <script src="@Url.Content("~/bundle/app.js")"></script>
        @*<script src="@Url.Content("~/js/tutorial.jsx")"></script>*@
</body>
</html>
