
/*popover*/
.pt-dark{
    background-color: 'red'
}
/* inputs */

.form-control,
.single-line {
    border: 1px solid #c9d3dd;
    border-radius: 4px;
    height: 38px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    height: 38px;
}

input[type="text"]:disabled {
    background-color: transparent !important;
}

/* react-widget */
/* .rw-select>* {
    width: 100% !important;
    margin-right: 15px !important;
    height: 99% !important;
} */

/* react-widget - DropdownList */
/* .rw-widget-container{
    border: 1px solid #c9d3dd !important;
} */
.rw-dropdown-list-input{
    height: 38px !important;
}

/* react-widget - DateTimePicker */
.rw-widget>.rw-widget-container {
    height: 38px !important;
}

.rw-widget-picker>.rw-select {
    width: 5% !important;
}

/**/
.table-no-border tr {
    height: 46px !important;
}

.table-no-border tr td {
    vertical-align: middle !important;
    border: none !important;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
.vertical-align {
    display: flex;
    align-items: center;
}
/**/
.Select-control {
    height: 38px !important;
    border: 1px solid #c9d3dd !important;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 38px !important;
}

.Select-input > input {
    line-height: 22px !important;
}

.switch.on.switchBg {
    background: #18a689;
}

.swal-button--confirm {
    background-color: #18a689 !important;
}

.Select-menu-outer {
    z-index: 1000;
}

.white {
    color: #fff;
}
.bg-login {
    background-image: url('../img/tela-login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.vertical-center {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
 }

 .gc-list-check {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

 .gc-list-check .gc-list-check-item {
    margin: 10px 0;
    padding-left: 30px;
    background-image: url('../img/icons/check-blue-light.png');
    background-repeat: no-repeat;
    background-position: 0 4px;

}

.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}

/* ibox-content */
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: transparent !important;
    border-image: none;
    border-style: solid solid none;
    border-width: 0 !important;
}

.ibox-content h5 {
    padding-top: 10px;
    font-size: 16px;
}

  /** ANTD Paginação Table **/
 .ant-table-pagination.ant-pagination {
    margin-right: 30px !important;
}

/** ANTD Espaçamento Table **/
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 10px 10px !important;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

.swal-button--cancel.button-custom  {
    color: #ffffff !important;
    background-color: #ed5565 !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: 2px solid transparent !important;
}

.div-text-grid {
    text-align: left;
}

.ant-transfer {
    text-align: center !important;
}

.ant-transfer-list-content-item {
    text-align: left !important;
}

.ant-transfer-list-header{
    text-align: left !important;
}

.color-link-editar{
    color: #676a6c;
}

@font-face {
    font-family: "DejaVu Sans";
    src:
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./fonts/DejaVuSans.ttf') format('truetype'),
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url('./fonts/DejaVuSans-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src:url('./fonts/DejaVuSans-Oblique.ttf') format('truetype'),
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    font-style: italic;
    src: url('./fonts/DejaVuSans-Oblique.ttf') format('truetype'),
}

.k-button + .k-button {
    margin-left: 5px
}

.ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-no-animation{
    overflow:unset;
}
